@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900&display=swap"');

*{
    font-family: 'Lato', sans-serif;
}

body{
    margin: 0;
}

header{
    background-image: url("images/header.jpg");
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header p,header nav{
    text-align: center;
    align-self: center;
}

header nav{
    background-color: #252525;
    width: 700px;
    border-radius: 50px 50px;
}

header nav ul{
    padding: 0;
}

header nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;
}

header nav ul li a{
    text-decoration: none;
    color: grey;
}

header p:first-child{
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 0;
}

header p:nth-child(2){
    font-size: 17px;
    color: grey;
    margin-top: 0;
    margin-bottom: 60px;
}

main{
    width: 1100px;
    margin: 0 auto;
}

main p:first-child{
    font-weight: 900;
    font-size: 33px;
    margin-top: 80px;
}

#section-1{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}

.articles{
    width: 23%;
}

.articles img{
    border-radius: 5px 5px;
}

.articles button{
    background-color: #252525;
    color: white;
    width: 100%;
    border: none;
    border-radius: 5px 5px;
    padding: 10px 0;
}

main hr{
    margin: 80px 0;
}

#section-2-part-1{
    width: 64%;
    float: left;
}

#photo{
    background-image: url("images/pics02.jpg");
    width: 100%;
    height: 120px;
    border-radius: 5px 5px;
}

#section-2-part-1 button{
    background-color: #252525;
    color: white;
    width: 100%;
    border: none;
    border-radius: 5px 5px;
    padding: 10px 0;
}

#section-2-part-1 p{
    margin: 30px 0;
    line-height: 27px;
}

#section-2-part-1 p a{
    color: orangered;
}

#section-2-part-1 p:nth-child(1){
    margin-bottom: 3px;
}

#section-2-part-1 p:nth-child(2){
    margin-top: 0;
}

#section-2-part-2{
    width: 34%;
    float: left;
    margin-left: 2%;
}

#section-2-part-2 p{
    margin: 30px 0;
    line-height: 27px;
}

#section-2-part-2 a{
    color: orangered;
    display: block;
    margin: 17px 0;
}

#section-2-part-2 p:nth-child(1){
    margin-bottom: 3px;
    font-size: 27px;
}

#section-2-part-2 p:nth-child(2){
    margin-top: 0;
}

#section-2{
    width: 100%;
    height: 480px;
}

footer{
    background-color: #252525;
    width: 100%;
    height: 550px;
}

#footer-parts{
    width: 1100px;
    margin: 30px auto 0;
}

#footer-part-1,#footer-part-2{
    width: 49%;
    float: left;
    margin-top: 90px;
}

#footer-part-1{
    margin-right: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-article{
    width: 49%;
    float: left;
    margin-bottom: 25px;
}

.footer-article a{
    color: grey;
    text-decoration: none;
}

.footer-article a:last-child{
    float: none;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}

#footer-article-img1{
    background-image: url("images/pics05.jpg");
    height: 70px;
    width: 70px;
    border-radius: 5px 5px;
    float: left;
    margin-right: 10px;
}

#footer-article-img2{
    background-image: url("images/pics07.jpg");
    height: 70px;
    width: 70px;
    border-radius: 5px 5px;
    float: left;
    margin-right: 10px;
}

#footer-article-img3{
    background-image: url("images/pics06.jpg");
    height: 70px;
    width: 70px;
    border-radius: 5px 5px;
    float: left;
    margin-right: 10px;
}

#footer-article-img4{
    background-image: url("images/pics09.jpg");
    height: 70px;
    width: 70px;
    border-radius: 5px 5px;
    float: left;
    margin-right: 10px;
}

#footer-article-img5{
    background-image: url("images/pics08.jpg");
    height: 70px;
    width: 70px;
    border-radius: 5px 5px;
    float: left;
    margin-right: 10px;
}

#footer-article-img6{
    background-image: url("images/pics10.jpg");
    height: 70px;
    width: 70px;
    border-radius: 5px 5px;
    float: left;
    margin-right: 10px;
}

#footer-part-2 p:first-child{
    color: white;
    font-weight: 900;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 0;
}

#footer-part-2 p:nth-of-type(2){
    color: grey;
    line-height: 23px;
}

#footer-part-2 a{
    color: orangered;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

#footer-last{
    margin-top: 60px;
    width: 100%;
    text-align: center;
}

#footer-last p{
    color: grey;
    background-color: #1f1f1f;
    padding: 30px 0;
}

#footer-last p a{
    color: white;
    text-decoration: none;
}

.clear{
    clear: both;
}